:root {
  color-scheme: dark;
}

body {
  padding-top: 15px;
}

video {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  width: 100%;
  height: auto;
}

.videoView,
.blend-shapes {
  position: relative;
  float: left;
  margin: 0;
  width: 100%;
  height: auto;
}

.output-canvas {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  z-index: 10;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
}

.blend-shapes-item {
  display: flex;
  align-items: center;
  height: 20px;
}

.blend-shapes-label {
  display: flex;
  width: 120px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4px;
}

.blend-shapes-value {
  display: flex;
  height: 16px;
  align-items: center;
  background-color: #007f8b;
}

.progress-bar {
  transition: none !important;
}

.progress {
  height: 12px;
}

.progress-slider {
  height: 12px;
}

.custom-form-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 6px;
  height: 12px;
  background: #0d6efd;
  cursor: ew-resize;
}

.slider-container {
  position: relative;
}

.custom-form-range {
  position: absolute;
  width: 100%;
  height: 12px;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  z-index: 10;
}

.nowrap {
  white-space: nowrap;
}